html {
	font-size: 62.5%; /* reset 1em to 10px */
	height: 100%;
}

#wrap {
	width: 50em;
	margin: 0 auto;
	padding: 2em;
/*	background: #dae3e9; */

	}

body { 
	margin: 2em;
	padding: 0;
	font-family: Georgia, serif;
	font-size: small;
	line-height: 1.5em;
/*	background: #fff;*/

 } 


p {
	line-height: 1.4em;
	padding: 0.2em 0 1.2em;
}

a {	text-decoration: none; }

h1 {font: normal 4em Georgia,sans-serif; margin: 0em 0em 0em 0.5em}
h2 {font: normal 2.2em Georgia,sans-serif;}
h3 {font: normal 2em Georgia,sans-serif;}
h4 {font: normal 1.8em Georgia,sans-serif;}
h5 {font: normal 1.6em Georgia,sans-serif;}
h6 {font: bold 1.2em Georgia,sans-serif;}

h1,h2,h3,h4,h5,h6 {margin-bottom: 0.2em;}


#header_page {
	/*background: #958573;*/
	color: #000000;
	margin: 0em 0em 0em 0em;
	padding: 2em;
	text-align: center;

 /*	height: 10em;*/

}

#header_page h1 {
	margin: 0;
	padding: 0;
/*	font-size: 180%;*/
	line-height: 1em;
	font-weight: normal;
/*	color: #333;*/

}

#toplink {
	float: right;	
	padding: 0em 1em 0em 0em;
	margin: 0em 0em 0em 0em;
}
#logo {
	clear: right;
	padding: 3em 0em 0em 0em;
}
#logo a {
	color: #000000;
	
}
#logo a:hover {
	color: #0E447C;
}

#navigator {
	float: left;
	width: 100%;
	margin: 0em 0em 0em 0em;
	border-bottom: 0.1em solid #CCB;
	padding: 1em 0em 0em 1em;				 
	list-style: none;
}
#navigator li {
	float: left;
	font-family: "Lucida Grande", sans-serif;
	margin: 0 0.2em 0 0;
	font-size: 100%;
}

#navigator a {
	float: left;
	display: block;
	margin: 0;
	padding: .5em 1em;
	color: #000000;
	text-decoration: none;
	border-bottom: none;
/*	background: #ccc;*/
}
#navigator a:hover {
	color: #333;
	background: #F1F1F1;
}

#content {
/*	font-size: 105%;
	width: 70%;
	padding: 1em;*/
	width: 30em;
	padding: 2em 0;
	margin: 1em 1em 1em 2em;
	font-size: 1em;
	float: left;
}

#content_title {
	font-size: 2em;
	margin: 0em 0em 0em 0em;
	padding: 0em 0em 0em 0em;
	
}

#content_date {
	font-size: 70%;
	margin: 0em 0em 0em 0em;
	padding: 0em 0em 0em 0em;
	border-bottom: 0.1em solid #CCB;
}

#sidebar_page {
	color: #000000;
	width: 15em;
	padding: 2em 0em 2em 3em;
	font-size: 90%;
	line-height: 1.5em;
	border-left: 0.1em solid #CCB;
/*

	padding: 2em ;
	margin: 1em 1em 1em 1em;
	border-left: 0.1em solid #CCB;
	width: 30%;
*/
	float: right;
}
#category_title, #recent_post_title, #tag_title {
	padding: 0em 0em 0.5em 0em;
}

#sidebar_category, #sidebar_recent_post, #sidebar_tag {
	padding: 0em 0em 1em 0.5em;
}

#footer_page {
	text-align: center;
	padding: 15px;
	padding: 1em 2em;
	font-size: 90%;
	border-top: 0.1em solid #CCB;
	clear: both;
}

